body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color:#222222;
}

form {
    width: 320px;
    margin: 20px auto;
}

.headlist {
    display: flex;
    width: 100%;
    align-self: flex-start;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: white solid 1px;
}

.headlist form {
    margin: 0;
}

form.merge-form .form_group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 20px;
}

form.merge-form .form_group input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 10px;
}

form.merge-form .form_group input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #222222;
    font: inherit;
    color: #9b9b9b;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #9b9b9b;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    margin: 0;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

form.merge-form .form_group input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #38a6ef;
}

form.merge-form .form_group input[type="checkbox"]:checked::before {
    transform: scale(1);
}

form.merge-form .form_group input:required, form .form_group input:invalid { 
    box-shadow: none;
}

form.merge-form .form_group input:disabled, form .form_group input:disabled ~ label  {
    opacity: 0.3;
}

form.merge-form .form_group input:focus ~ label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #38a6ef;
    font-weight: 700;
}

form.merge-form .form_group input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #38a6ef, #38a6ef);
    border-image-slice: 1;
}

form.merge-form .form_group label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #9b9b9b;
}

form.merge-form input.btn {
    background: #fff;
    color: #9b9b9b;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

form.merge-form input.btn.btn-submit {
    background: #38a6ef;
    color: #e3eaf0;
}

form.merge-form input.btn.btn-submit:hover,
form.merge-form input.btn.btn-submit:focus {
    background: #033d6d;
    cursor: pointer;
}

.headlist input[type="search"] {
    height: 2rem;
    border: 0;
    font-size: 1.8rem;
    
    color: #303030;
    background: whitesmoke;
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
}

.headlist input[type="button"] {
    font-size: 1.3rem;
    outline: 0;
    color: #e3eaf0;
    background: #38a6ef;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
}

.headlist input[type="button"]:hover, 
.headlist input[type="button"]:focus {
    background: #033d6d;
    cursor: pointer;
}

.headlist button {
    font-size: 1.8rem;
    color: #e3eaf0;
    background: #38a6ef;
    border-radius: 3px;
    border: none;
}

.headlist button:hover, 
.headlist button:focus {
    background: #033d6d;
    cursor: pointer;
}



.pokemonList {
    width: 100%;
    overflow: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10%);
}

.pokemonList .popupPokemon {
    display: flex;
    margin: 2px 10px 2px 10px;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    border: 1px solid #e6e6e6;
}

.pokemonList .popupPokemon.duplicate {
    background-color:sandybrown;
}

.pokemonList .contPokemon {
    display: flex;
}

.pokemonList .contPokemon > div {
    margin: 0 5px 0 5px;
}

.pokemonList .popupImg {
    margin: 2px;
    width: 60px;
    height: 60px;
}

.pokemonList .popupImg img {
    max-width: 100%;
    height: auto;
}

.hide {
    display: none !important;
}

p.popupName {
    font-size: smaller;
}

p.username {
    width: 100%;
}

@media only screen and (max-width: 320px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, 100%);
    }
    .headlist input[type="search"] {
        width: 60%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, 100%);
    }
    .headlist input[type="search"] {
        width: 70%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, minmax(50%, 100%));
    }
    .headlist input[type="search"] {
        width: 80%;
    }
}
@media only screen and (min-width: 640px) and (max-width: 800px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, minmax(33%, 50%));
    }
    .headlist input[type="search"] {
        width: 80%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, minmax(25%, 33%));
    }
    .headlist input[type="search"] {
        width: 80%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, minmax(20%, 25%));
    }
    .headlist input[type="search"] {
        width: 80%;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fit, minmax(10%, 20%));
    }
    .headlist input[type="search"] {
        width: 80%;
    }
}