body {
  font-family: 'Poppins', sans-serif; 
  font-size: 1.5rem;
  background-color:#222222;
  margin: 0;
  padding: 0;
}

.container, .word-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* WORDS */

input.word {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 0;
  background: transparent;
}

.word:required, 
.word:invalid { 
  box-shadow: none;
}

.word-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.add-word, 
.remove-word {
  font-size: 1.3rem;
  flex-grow: 1;
  color: #222222;
  border-radius: 3px;
  border: 1px #222222 solid;
  margin: 10px 20px;
}

.add-word:hover, 
.add-word:focus {
  color: steelblue;
  background-color: #222222;
  border: 1px steelblue solid;
  cursor: pointer;
}

.remove-word:hover,
.remove-word:focus {
  color: indianred;
  background-color: #222222;
  border: 1px indianred solid;
  cursor: pointer;
}

.add-word {
  background-color: steelblue;
}
.remove-word {
  background-color: indianred;
}

/* CHECKBOX */
.replace-syllables {
  position: relative;
}

.replace-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #222222;
  font: inherit;
  color: #9b9b9b;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #9b9b9b;
  border-radius: 0.15em;
  margin: -5px 0;
  display: grid;
  place-content: center;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.replace-checkbox:not(:disabled):hover,
.replace-checkbox:not(:disabled):focus {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #9b9b9b
}

.replace-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #38a6ef;
}

.replace-checkbox:checked::before {
  transform: scale(1);
}

.replace-checkbox:disabled, 
.replace-checkbox:disabled ~ label  {
  opacity: 0.3;
}

.replace-checkbox ~ label {
  font-size: 1.3rem;
  color: #fff;
}

/* GROUP */

.group {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 0;
  background: transparent;
}

.group:disabled {
  opacity: 0.3;
}

/* GENERATE */
.generate-group {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.generate-button {
  font-size: 1.3rem;
  flex-grow: 1;
  color: #222222;
  background: palegreen;
  border-radius: 3px;
  border: none;
  margin: 10px 20px;
}

.generate-button:hover,
.generate-button:focus {
  color: palegreen;
  background-color: #222222;
  border: 1px palegreen solid;
  cursor: pointer;
}

/*  */

.generated-words {
  width: 100%;
  border-top: white solid 1px;
  text-align: center;
}

.search-bar {
  padding-top: 10px;
}

.search-input {
  border: 0;
  font-size: 1.3rem;
  color: #222222;
  background: whitesmoke;
  border-radius: 3px;
  width: 100%;
  max-width: 450px;
  padding: 5px;
}

.search-input:disabled {
  opacity: 0.3;
}

.random-button {
  font-size: 1.3rem;
  color: #222222;
  background:mediumpurple;
  border-radius: 3px;
  border: 1px solid #222222;
  margin: 10px 20px;
  padding: 5px;
}

.random-button:not(:disabled):hover,
.random-button:not(:disabled):focus {
  color: mediumpurple;
  background-color: #222222;
  border: 1px mediumpurple solid;
  cursor: pointer;
}

.random-button:disabled {
  opacity: 0.3;
}

.pokemon-list {
  width: 100%;
  overflow: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10%);
}

.pokemon-list .popupPokemon {
  display: flex;
  margin: 2px 10px 2px 10px;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  border: 1px solid #e6e6e6;
}

.pokemon-list .popupPokemon.duplicate {
  background-color:sandybrown;
}

.pokemon-list .contPokemon {
  display: flex;
}

.pokemon-list .contPokemon > div {
  margin: 0 5px 0 5px;
}

.pokemon-list .popupImg {
  margin: 2px;
  width: 60px;
  height: 60px;
}

.pokemon-list .popupImg img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none !important;
}

p.popupName {
  font-size: smaller;
}

p.username {
  width: 100%;
}

@media only screen and (max-width: 320px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, 100%);
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, 100%);
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(50%, 100%));
  }
}
@media only screen and (min-width: 640px) and (max-width: 800px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(33%, 50%));
  }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(25%, 33%));
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(20%, 25%));
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(10%, 20%));
  }
}

